<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="style.css"  >
    <link rel="stylesheet"  type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div id="backdrop"></div>
<header>
    <h2>Hospital</h2>
    <button class="add-patient" type="submit">Add Patient</button>
</header>
<div class="ctnr model" id="addmodel">
    <form id="form-patient" action="/addPatient" method="post">
        <div>
            <label for="name">Name :</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="birthDate">Birth Date :</label>
            <input type="date" name="birth" id="birthDate">
        </div>
        <div>
            <label for="status">Status :</label>
            <select name="isSick" id="status">
                <option value="true" selected>Sick</option>
                <option value="false">Helthy</option>
            </select>
        </div>
        <div class="action">
            <button id="cancel" type="reset">Cancel</button>
            <button id="add" type="submit">Add</button>
        </div>
    </form>
</div>
<div class="container" >
    <form action="/patient" method="get">
        <div class="form-group">
            <input th:value="${keyword}" class="form-control col-6" type="text" name="keyword" id="keyword" placeholder="Enter key word...">
            <button type="submit" class="btn btn-primary">Search</button>
            <div>
                <label for="sizePage" style="font: inherit">Page Size:</label>
                <select  name="size" id="SizePage" class="form-control col2">
                    <option value="2" selected >2</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="10">10</option>
                </select>
            </div>

        </div>

    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id Patient</th>
                <th scope="col">Name Patient</th>
                <th scope="col">Birth date</th>
                <th scope="col">Medical Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patientPages.content}">
                 <td th:text="${p.id}"></td>
                  <td th:text="${p.name}"></td>
                 <td th:text="${p.getBirth()}"></td>
                 <td th:text="${p.isSick}?'Healthy':'Sick'"></td>
                <td><a class="btn btn-danger" th:href="@{removePatient(id=${p.id})}">Remove</a></td>
             </tr>
        </tbody>
    </table>
    <nav aria-label="...">
        <ul class="pagination">
            <div th:each="p,status:${pages}">
                <li>
                    <a th:class="${status.index==currentPage}?'btn btn-primary':'btn btn-outline-primary'"
                       th:href="@{patient(page=${status.index},size=${size},keyword=${keyword})}" th:text="${status.index}"></a></li>
            </div>
        </ul>
    </nav>
</div>

<script src="app.js" defer></script>
</body>
</html>
